body{
    display: grid;
    background: pink;
    position: relative;
    margin:10px;
    font-size: 13px;
}

#book-space{
    top:100px;
}



input{
    background: yellow
}

input:focus{
    background: white
}

input:blur{
    background: yellow
}

div{
    padding:5px;
}
label{
    font-weight: bold;
    margin-right: 10px;
}

#header{
    overflow: hidden;
    padding: 0px;
}

.main-content{
    padding: 0px;
    width: 100%;
}

#borrow-book{
    width: 50%;
}